div.section {
    width: 75%;
    margin: 15px auto;
  }
  div.section div.title {
    border-bottom: 1px solid #020202;
    box-shadow: 0px 1px 0px #191919;
    font-family: Ubuntu Light;
    font-weight: bold;
    font-size: 18pt;
    padding: 4px 0;
  }
  div.section div.title span {
    float: right;
    display: -webkit-inline-box;
  }
  div.section div.title span#status {
    margin: 5px 15px;
  }
  div.section div.title span#status.online {
    background: url(../../../../assets/images/online.gif) center center no-repeat;
    height: 17px;
    width: 40px;
  }
  div.section div.title span#status.offline {
    background: url(../../../../assets/images/offline.gif) center center no-repeat;
    height: 17px;
    width: 40px;
  }
  div.section div.content div.sub-section {
    margin: 10px 0;
  }
  div.section div.content div.sub-section div.title {
    border-bottom: 1px solid #020202;
    box-shadow: 0px 1px 0px #191919;
    font-family: Ubuntu Light;
    font-weight: bold;
    font-size: 11pt;
    padding: 4px 0;
  }
  div.section div.content div.sub-section div.title span.groups {
    background: url(../../../../assets/images/ui-assets.png);
    display: -webkit-inline-box;
    height: 16px;
    width: 22px;
    background-position: 77px 803px;
  }
  div.section div.content div.sub-section div.title span.friends {
    background: url(../../../../assets/images/ui-assets.png);
    display: -webkit-inline-box;
    height: 16px;
    width: 22px;
    background-position: 117px 496px;
  }
  div.section div.content div.sub-section div.content {
    padding: 5px 5px;
    font-size: 10pt;
  }
  div.section div.content div.sub-section div.content div.badge {
    margin: 10px;
    display: inline-block;
  }
  div.section div.content div.sub-section div.content div.friends {
    margin: 10px;
    font-size: 10pt;
  }
  div.section div.content div.sub-section div.content div.friends span.online {
    background: url(../../../../assets/images/ui-assets.png);
    display: -webkit-inline-box;
    height: 20px;
    width: 22px;
    margin: 0px 4px -5px;
    background-position: 120px 392px;
  }
  div.section div.content div.sub-section div.content div.friends span.offline {
    background: url(../../../../assets/images/ui-assets.png);
    display: -webkit-inline-box;
    height: 20px;
    width: 22px;
    margin: 0px 4px -5px;
    background-position: 119px 417px;
  }
  div.section div.content div.user-data {
    display: -webkit-inline-box;
    padding: 15px 0;
    width: 100%;
  }
  div.section div.content div.user-data div.avatar {
    background: url(../../../../assets/images/ui-assets.png);
    width: 115px;
    height: 115px;
    overflow: hidden;
    background-position: -20px -164px;
    border-radius: 248px;
    display: block;
  }
  div.section div.content div.user-data div.avatar img {
    position: relative;
    top: -20px;
    left: -12px;
  }
  div.section div.content div.user-data div.information {
    border-bottom: 1px solid #020202;
    box-shadow: 0px 1px 0px #191919;
    display: inline-block;
    max-width: 180px;
  }
  div.section div.content div.user-data div.information div.motto {
    font-size: 11pt;
    color: rgba(255, 255, 255, 0.2);
    margin: 4px 0;
    font-weight: bold;
    font-style: italic;
  }
  div.section div.content div.user-data div.information div.last-login {
    font-size: 9pt;
    margin: 4px 0;
  }
  div.section div.content div.user-data div.information div.join-date {
    font-size: 9pt;
    margin: 4px 0;
  }
  div.section div.content ul.sub-menu {
    list-style: none;
    padding: 15px;
  }
  div.section div.content ul.sub-menu li {
    margin: 8px 0;
  }
  div.section div.content ul.sub-menu li a {
    color: #1d6b9a;
    font-weight: bold;
    text-decoration: none;
  }
  div.section div.content ul.sub-menu li a:hover {
    color: #42a1da;
  }  