<div class="client">
    <div *ngIf="!flashEnabled" class="flash-check-container">
        <div class="jumbotron flex d-block">
            <h2>Flash Player</h2>
            <p>You need to enable flash player before playing Habbo!</p>
            <div style="height:10px"></div>
            <a href="https://get.adobe.com/flashplayer/" class="flash-link"></a>
        </div>
    </div>
    <div class="client-buttons">
        <div class="client-button left-arrow" (click)="goBack()"><i class="heroic-icon h"></i>Web</div>
        <div class="client-button last-button" (click)="startClient()"><i class="fas fa-sync-alt"></i></div>
    </div>
    <div id="client-container" class="client-container" *ngIf="flashEnabled" (window:scroll)="null"></div>
</div>