<div class="content">
    <app-header [menuTabs]="menuTabs" [subMenuTabs]="currentSubMenus"></app-header>

    <div class="wrapper radial">
        <app-side @slideInOut *ngIf="appSide.indexOf(currentPage.path) > -1" [currentPage]="currentPage"></app-side>
        <div class="page-content">
            <div class="row">
                <div class="col">
                    <!--<div class="box fg-light bg-red drop-shadow">
                        <div class="content"><b>¡Atención Mr.Mustache! Al parecer el hotel se encuentra en mantenimiento...</b></div>
                    </div>-->
                </div>
            </div>
            <router-outlet></router-outlet>
            <app-footer></app-footer>
        </div>
    </div>
</div>