header {

    div.mainNavigator {
        background: #777777;
        background: -webkit-linear-gradient(to bottom, #9e9e9e, #777777);
        background: linear-gradient(to bottom, #9e9e9e, #777777);
        box-shadow: 1px 0px 8px 2px rgba(0, 0, 0, 0.5);
        height: 80px;
        width: 100%;
        position: relative;
        z-index: 1;
        display: -webkit-inline-box;
    
        div.logo {
            border-right: 1px solid #9e9e9e;
            box-shadow: 1px 0 0 #6f6f6f;
            width: 120px;
            height: 100%;
            background: url(../../../../assets/images/habbologo_blackR.gif) center center no-repeat;
            float: left;
            position: relative;
            padding: 0 5px;
        }

        ul.menu {
            display: -webkit-inline-box;
            width: 100%;

            li {
                list-style: none;
                margin: 0 15px;
                line-height: 80px;

                a {
                    text-decoration: none;
                    color: #ffffff;
                    font-weight: bold;
                    font-size: 14pt;
                }
            }
        }
    
        &.orange { 
            background: #c36300;
            background: -webkit-linear-gradient(to bottom, #ff8d00, #c36300);
            background: linear-gradient(to bottom, #ff8d00, #c36300);
        }
    
        &.orange > div.logo {
            border-right: 1px solid #ff7b1e;
            box-shadow: 1px 0 0 #b95700;
        }
    
        &.darken {
            background: #1f1f1f;
        }
    
        &.darken > div.logo {
            border-right: 1px solid #1d1d1d;
            box-shadow: 1px 0 0 #212121;
        }

        &.darkBlue {
            background: #001629
        }

        &.darkBlue > div.logo {
            border-right: 1px solid #012344;
            box-shadow: 1px 0 0 #000c17;
        }
    }

    div.subNavigator {
        background: #1d1d1d;

        ul.menu {
            display: -webkit-inline-box;
            width: 100%;

            li {
                list-style: none;
                margin: 0 15px;
                line-height: 30px;

                a {
                    text-decoration: none;
                    color: #ffffff;
                    font-weight: bold;
                    font-size: 10pt;
                }
            }
        }
    }
}