<div class="container-fluid arctic-body h-100">
    <div class="grid mb-0 arctic-grid h-100">
        <div class="row">
            <app-header *ngIf="!clientShowing"></app-header>
        </div>
        <div class="row arctic-body">
            <app-side @slideInOut *ngIf="false" class="darken"></app-side>
            <div class="cell p-0 arctic-content">
                <div class="fg-white"></div>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
<app-client class="client-show" [ngClass]="clientShowing ? '' : 'client-hide'"></app-client>